@font-face {
    font-family: 'AppleFontBy123KurdThemes';
    src: url('https://raw.githubusercontent.com/KurdistanIs1/KurdistanIs1.github.io/main/NotoColorEmoji.ttf');
    src: url('https://raw.githubusercontent.com/KurdistanIs1/KurdistanIs1.github.io/main/NotoColorEmoji.ttf?#iefix') format('truetype'),
        url('https://raw.githubusercontent.com/KurdistanIs1/KurdistanIs1.github.io/main/NotoColorEmoji.ttf') format('truetype');
}
