@font-face {
    font-family: 'AppleFontBy123KurdThemes';
    src: url('https://anonymr.x10.mx/iOS15.4_Fixed_space.ttf');
    src: url('https://anonymr.x10.mx/iOS15.4_Fixed_space.ttf') format('truetype'),
        url('https://anonymr.x10.mx/iOS15.4_Fixed_space.ttf') format('truetype');
}
